body {
  background-color: darkslategrey;
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.test {
  color: lightgray;
}

#content {
  color: aquamarine;
}

